
/*html {
  cursor: url('cursor.png') 5 5, auto;
}
a, button, input[type="submit"] {
  cursor: inherit;
}

a,h1,h2,p{
  cursor: auto;
}*/
a{
    text-decoration: none;
}

body{
    background-color: #eff3f5;
    max-width: clamp(760px, 39%, 39%);
    margin-inline: auto;
    line-height: 30px;
    padding-inline:20px;
    margin-top: 50px;
    
}


h1{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
 padding-top: 65px;
}

p{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 23px;
}
h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
	  margin: 60px 0 0;
    font-size: 25px;
}

img{
    /*width: 48%;
    height: 35%;
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    margin-left: -3%;*/
    opacity: 0.2;
    position:absolute;
    width:min(900px,100%);
    height: min(360px,100%);;
    overflow:hidden;
    object-fit: cover;
    left:-10px;
    right:-10px;
    margin:0px auto 0;
    pointer-events:none;
    z-index:-1
}
a{
    color: #4400ff;
}
a:hover{
    background-color: #4400ff;
    color: white;
}
