
/*html {
  cursor: url('cursor.png') 5 5, auto;
}
a, button, input[type="submit"] {
  cursor: inherit;
}

a,h1,h2,p{
  cursor: auto;
}*/
#cur{
  font-size: 70px;
}

h1{
    font-weight: 800;
    padding-top: 110px;
    font-size: 60px;
}


.trail{
position: absolute;
width: 15vw;
height: 17vh;
filter: blur(10px);
pointer-events: none;
z-index: -2;
transform: translate(0%, 0%);
transition: opacity 2s ease-out;
}

 /*.trail {
      position: absolute;
      width: 30px;
      height: 20px;
      background: rgba(0, 255, 150, 0.8);
      border-radius: 4px;
      pointer-events: none;
      transform: translate(-50%, -50%);
      transition: opacity 0.5s linear; 
    }*/


a{
    text-decoration: none;
}

body{
    font-family: "IBM Plex Mono", monospace;
    background-color: #eff3f5;
    max-width: clamp(600px, 40%, 40%);
    margin-inline: auto;
    line-height: 30px;
    padding-inline: 30px;
   
}
li{
  margin-left: 20px;
}
ul{
  padding-left: 0px;
}

h3{
    
    font-weight: 400;
	  margin: 30px 0 0;
    font-size: 25px;
}

#magic{
  font-weight: 400;
  background: linear-gradient(45deg, #ff009d, #002fff, #ffbb00)



;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For Firefox */
  background-clip: text;
  color: transparent;
}
#favGh{
    font-weight: 500;
    color: #ff2600;   
}

#mewfuzz{
  padding-top: 92px;
  opacity: 1;
  width: 280px;
}

p{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 23px;
  text-align: justify; 
}
h2 {
    font-weight: 600;
	  margin: 60px 0 0;
    font-size: 25px;
}

#gif{
    /*width: 48%;
    height: 35%;
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    margin-left: -3%;*/
    opacity: 0.2;
    position:absolute;
    width:  min(900px,100%);
    height: min(360px,100%);
    overflow:hidden;
    object-fit: cover;
    left:-10px;
    right:-10px;
    margin: 33px auto 0;
    pointer-events:none;
    z-index:-1;
    
}
a{
    color: #4400ff;
}
a:not(#ins):hover{
    background-color: #4400ff;
    color: white;
}


@media (max-width: 570px) {
  #gif {
    width:  min(600px,100%);
    height: min(420px,100%);
  }
}

@media (max-width: 460px) {
  #gif {
    width:  min(600px,100%);
    height: min(450px,100%);
  }
}

#bye{
  display: inline-block;
  transform-origin: left top;
  transform: rotate(15deg);
}

#ani{
margin-block: 20px;
text-align: center;
padding-top: 35px;
filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));

}


.anime{
  overflow-x: hidden;
  width: 22%;
  border:#eff3f5 4px solid;
  margin-left: -6%;
  position: relative;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), filter 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: center;
}



#hd{
  transform: translateX(30%) scale(1.2) rotate(-15deg);
}
#sa{
  transform: translateX(30%) scale(1.2) rotate(-7.5deg);
}

#ntvow{
  transform: translateX(30%) scale(1.2) rotate(0deg);
}

#mnt{
  transform: translateX(30%) scale(1.2) rotate(7.5deg);
}

#twr{
  transform: translateX(30%) scale(1.2) rotate(15deg);
}

#hd:hover {
  transform: translateX(30%) scale(1.2) rotate(-15deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(010px 10px 5px rgba(0, 0, 0, 0.2));
}

#sa:hover {
  transform: translateX(30%) scale(1.2) rotate(-7.5deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#ntvow:hover {
  transform: translateX(30%) scale(1.2) rotate(0deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#mnt:hover {
  transform: translateX(30%) scale(1.2) rotate(7.5deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#twr:hover {
  transform: translateX(30%) scale(1.2) rotate(15deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}






@media (max-width: 460px) {
  .anime{
  width: 22%;
  border:#eff3f5 4px solid;
  margin-left: -10%;
  position: relative;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: center;
}

#hd{
  transform: translateX(60%) scale(1.2) rotate(-15deg);
}
#sa{
  transform: translateX(60%) scale(1.2) rotate(-7.5deg);
}

#ntvow{
  transform: translateX(60%) scale(1.2) rotate(0deg);
}

#mnt{
  transform: translateX(60%) scale(1.2) rotate(7.5deg);
}

#twr{
  transform: translateX(60%) scale(1.2) rotate(15deg);
}

#hd:hover {
  transform: translateX(60%) scale(1.2) rotate(-15deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));

}

#sa:hover {
  transform: translateX(60%) scale(1.2) rotate(-7.5deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#ntvow:hover {
  transform: translateX(60%) scale(1.2) rotate(0deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#mnt:hover {
  transform: translateX(60%) scale(1.2) rotate(7.5deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

#twr:hover {
  transform: translateX(60%) scale(1.2) rotate(15deg) translateY(-8px);
  z-index: 10;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}
}


#ins {
      filter: grayscale(100%); 
      margin-inline: 30%;
}
#ins:hover {
  filter: grayscale(0%);
  color: black;
  font-weight: 500;
}
#ig{
    transform: translateY(5px);
    width: 25px;
}

